@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --breakpoint-*: initial;
  --breakpoint-sm: 300px;
  --breakpoint-md: 690px;
  --breakpoint-lg: 1000px;
}

:root {
  --header-height: 90px;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: manrope;
}

body {
  background-color: #FAFAFA;
}