@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    /* Custom fonts */
    --font-manrope: "Manrope";

    /* Custom breakpoints */
    --breakpoint-*: initial;
    --breakpoint-sm: 320px;
    --breakpoint-md: 480px;
    --breakpoint-lg: 992px;

    /* Custom colors */
    --color-white: #FFFFFF;
    --color-black: #191919;
    --color-midnight: #101010;
    --color-quartz: #4C4C4C;
    --color-burnt-orange: #D87D4A;
    --color-light-orange: #FBAF85;
    --color-lotion: #FAFAFA;
    --color-light-gray: #F1F1F1;
    --color-gray: #979797;
}

body {
    @apply font-manrope;
}