@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    /* Custom fonts */
    --font-manrope: "Manrope";

    /* Custom colors */
    --color-*: initial;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-midnight: #101010;
    --color-burnt-orange: #D87D4A;
    --color-light-orange: #FBAF85;
    --color-lotion: #FAFAFA;
    --color-light-gray: #F1F1F1;
}